<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmh.dao.ProvinceAddDao">
	<insert id="insert" parameterType="com.mmh.entity.Province">
		insert into gb_prv_add
		(PRV_NUM_ID, PRV_SIM_NO, PRV_NAME, PRV_SIM_NAME, DEL_STATE, SORT)
		values
		(#{PRV_NUM_ID}, #{PRV_SIM_NO}, #{PRV_NAME}, #{PRV_SIM_NAME}, #{DEL_STATE}, #{SORT})
	</insert>

</mapper>